/* MenuBar.module.css */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070e36;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 하단부 그림자 효과 */
}

.title {
  font-size: 1.875rem; /* 3xl */
  font-weight: bold;
  color: red;
}

.nav {
  display: flex;
  gap: 16px;
  align-items: center;
}
