.main_container {
  display: flex; /* 수평 배치 */
  /* 전체 폭 100% */
  min-height: 100vh; /* 전체 화면 높이 */
}

.nav_menu_container {
  position: sticky; /* 스크롤 시 상단에 고정 */
  top: 400px; /* 상단에서 120px 떨어진 위치 (TopBar 아래) */
  align-self: flex-start; /* 컨테이너 상단에 정렬 */
  z-index: 1000; /* 다른 요소보다 위에 표시 */
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
}

.content_wrapper {
  width: 93%; /* 나머지 93% */
  display: flex;
  gap: 3px;
}

/* 가운데 컨텐츠 */
.main_content {
  width: 75%; /* 예: 70% */
  padding: 0 3px;
  overflow-y: auto;
  /* 필요하면 border-left, padding-left 추가 가능 */
}

/* 오른쪽 영역 */
.right_view {
  width: 25%; /* 70% + 30% = 100% (content_wrapper 안에서) */
}

@media (max-width: 1400px) {
  .nav_display {
    display: none;
  }
  .content_wrapper {
    width: 100%;
    flex-direction: column;
  }
  .main_content,
  .right_view {
    width: 100%;
    border: none;
  }
}
